# Database Configuration (Replace with your actual local database configuration)
DB_URL=jdbc:mysql://localhost:3306/your_database_name
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password

# Spring Security Configuration
SECURITY_USER_NAME=admin
SECURITY_USER_PASSWORD=admin_password_here
